---
- name: Setup Debian container
  hosts: debian_vm
  become: true

  tasks:
    - name: Update and upgrade packages
      apt:
        update_cache: yes
        upgrade: dist
        autoremove: yes
        autoclean: yes

    - name: Create user
      user:
        name: tim
        groups: sudo
        append: yes
        state: present
        create_home: yes

    - name: Change ownership of data mount 
      file:
        path: /data
        owner: tim
        group: tim
        recurse: yes

    - name: Change ownership of docker mount 
      shell: find /docker -mindepth 1 -maxdepth 1 ! -name 'lost+found' -exec chown -R tim:tim {} +

    - name: Install ufw and rsync
      apt:
        name:
          - ufw
          - rsync
        state: present
        update_cache: yes

    - name: Set default deny incoming policy
      ufw:
        direction: incoming
        policy: deny

    - name: Set default allow outgoing policy
      ufw:
        direction: outgoing
        policy: allow

    - name: Allow SSH with rate limiting on port 22/tcp
      ufw:
        rule: limit
        port: 22
        proto: tcp

    - name: Enable UFW firewall
      ufw:
        state: enabled
